[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
morpcc = {path = ".",editable = true}
morpfw = "==0.2.1a1.dev32"
pip = "==18.0"
rulez = "==0.1.1"
elasticsearch = "==5.5.3"

[dev-packages]
pylint = "*"
pydocstyle = "*"
mypy = "*"
"autopep8" = "*"
morpcc = {path = ".",extras = ["test"],editable = true}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
