.panel_toolbox {
    min-width: 10px;
}

.alert small.error-msg-detail {
    color: white;
}

.alert {
    padding: 0px 5px;
}


.widget_card .card-icon {
    font-size:50px;
    text-align: center
}


ul.msg_list li.read {
    background-color: white;
}


.icon-red, .icon-red:hover {
    color: #ce0202;
}

.icon-yellow, .icon-yellow:hover {
    color: #ffc400
}

.icon-green, .icon-green:hover {
    color: #52e000;
}

pre.agreement-text {
    max-height: 300px;
    overflow:auto;
}

body.modal-window {
    overflow-x:hidden;
    height: 90%;
}

.html-scrollable {
    max-height: 200px;
    overflow: auto;
    min-width:200px;
    background: #fff;
    border: 1px solid #eee;
    padding: 5px;
}

table.table.collapsed td.child ul {
    width:100%;
}

.select2-container {
    width: 100% !important;
}
