.panel_toolbox {
    min-width: 10px;
}

.alert small.error-msg-detail {
    color: white;
}

.widget_card .card-icon {
    font-size:50px;
    text-align: center
}


ul.msg_list li.read {
    background-color: white;
}