.panel_toolbox {
    min-width: 10px;
}

.alert small.error-msg-detail {
    color: white;
}

.alert {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
}


.widget_card .card-icon {
    font-size:50px;
    text-align: center
}

.widget_card {
    position: relative;
    min-height: 170px;
}

.widget_card>.x_content {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.site-settings .widget_card {
    height: 170px;
}


ul.msg_list li.read {
    background-color: white;
}


.icon-red, .icon-red:hover {
    color: #ce0202;
}

.icon-yellow, .icon-yellow:hover {
    color: #ffc400
}

.icon-green, .icon-green:hover {
    color: #52e000;
}

pre.agreement-text {
    max-height: 300px;
    overflow:auto;
}

textarea.code {
    font-family: "Droid Sans Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    width: 100%;
    min-height: 400px;
}

div.code-display .highlight pre {
    width: 100%;
}

body.modal-window {
    overflow-x:hidden;
    height: 90%;
}

.html-scrollable {
    max-height: 200px;
    overflow: auto;
    min-width:200px;
    background: #fff;
    border: 1px solid #eee;
    padding: 5px;
}

table.table.collapsed td.child ul {
    width:100%;
}

.select2-container {
    width: 100% !important;
}

#iframe-modal-spinner {
    text-align:center;
    font-size: 60px;
}

div.dataTables_processing {
    height:55px;
}

div.dataTables_processing .fa-spin {
    font-size: 30px;
}
