.panel_toolbox {
    min-width: 10px;
}

.alert small.error-msg-detail {
    color: white;
}

.alert {
    padding: 0px 5px;
}


.widget_card .card-icon {
    font-size:50px;
    text-align: center
}


ul.msg_list li.read {
    background-color: white;
}


.icon-red, .icon-red:hover {
    color: #ce0202;
}

.icon-yellow, .icon-yellow:hover {
    color: #ffc400
}

.icon-green, .icon-green:hover {
    color: #52e000;
}